* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  list-style: none;
}

li {
  margin: 1rem 0;
}

.search-params {
  border: 1px solid;
  border-radius: 2px;
}

.colors-list, .rarity-list  {
  padding-left: 0;
}
